rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Test Deploy: Checking if GitHub Action picks this up
    match /{document=**} {
      allow read, write: if false; // Default secure rule
    }
  }
}